---
import '../../assets/scss/astro-ecommerce.scss';
import CategoryFilters from '../components/products/categoryFilters';
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="Bike Equipments">
        <div slot="content" class="container-fluid p-6 ">
            <CategoryFilters 
                title="Nuestros Productos"
                client:load
            />
        </div>  
</PageLayout>