.card {
  &.card-product {
    img {
      object-fit: cover;
    }
  }

  .badge {
    border: 1px solid $light;
    border-radius: .25rem;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    margin-right: 5px;
    position: relative;
    width: 23px;
    transition: $transition-base;
    
    &:hover,
    &.active {
      border-color: $dark;
    }
  }

  &.card-background {
    overflow: hidden; // Ocultar contenido que se salga de la tarjeta

    .full-background {
      transition: transform 0.2s ease; // Agregar una transición suave para un efecto más agradable
    }

    &:hover .full-background {
      transform: scale(1.05);
    }
  }
}
